html 
    head 
        title Authorize a card
    body 
        button(type='button', onclick='window.location.href=window.location.origin + "/netbank/newservices"') Back
        br
        br        
        h1 Authorize a card for another user: 