html 
    head 
        title Authorize a card
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

    body 
        button(type='button', onclick='window.location.href=window.location.origin + "/netbank/newservices"') Back
        br
        br        
        h1 Authorize a card for another user: 