html 
    head 
        title Get a new card
    body 
        button(type='button', onclick='window.location.href=window.location.origin + "/netbank/newservices"') Back
        br
        br        
        h1 Get a card: 