html 
    head 
        title Simulbank frontpage 
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    body 
        h1 Welcome to Simulbank! 
        br
        p Experience finance like you've never seen before! 
        br
        br
        p Existing user?
        button(type='button', onclick='window.location.href=window.location.origin + "/netbank/login"') Login
        br
        b
        p New to SimulBank? 
        button(type='button', onclick='window.location.href=window.location.origin + "/netbank/signup"') Sign up
