html 
    head 
        title Open an account
    body 
        button(type='button', onclick='window.location.href=window.location.origin + "/netbank/newservices"') Back
        br
        br        
        h1 Open an account: 