html
    head
        title SimulBank
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    body
        h1 Unauthorized access
        br
        p You've timed out or tried to access a private page without logging in
        br
        br
        p Return to home page
        button(type="button" onclick='window.location.href=window.location.origin + "/netbank"') Return