MainWindow {
    background-image: url(":/backG.jpg");
}

QLabel {
min-height: 20px;
min-width: 100px;
font-size:16px;
}

QLineEdit {
min-height: 20px;
min-width: 30px;
font-size:11px;
}

QPushButton {
background-color: gray;
border-style: outset;
border-width: 2px;
border-color: black;
min-height: 20px;
min-width: 20px;
border-radius: 6px;
font-size:11px;
}
